.header {
    background-image: url(../images/headerBackgroundImage.png);
    background-size: cover;
    background-position: center;
    padding: 22px 0 45px;
    z-index: 0;
    position: relative;
}

.header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(50, 62, 102, 0.80);
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    max-width: 456px;
    margin: 25px auto 10px;
    text-align: center;
    color: #FFF;
    font-family: Georgia, Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 425px) {
    .header {
        padding: 33px 0 40px;
    }

    .header__iconLogo {
        width: 30.318px;
        height: 18.861px;
    }

    .header__textLogo {
        width: 111.041px;
        height: 61.298px;
    }

    .header__title {
        margin: 16px auto;
        max-width: 292px;
        font-size: 20px;
    }
}